@use '../../assets/css/theme' as t;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bkgImg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.1);
}

/* @media(min-width: t.$lg) {
    .container {
        padding: 0 100px;
    }
} */